@charset "utf-8";
@font-face {
  font-family: 'bodoni';
  src: url('BodoniXT.ttf') format('truetype');
}
@-webkit-keyframes fadein {
  from { opacity: 0;}
  to {opacity: 1;}
}
a:hover{
  text-decoration: none;
}
body {
  text-align: center;
  font-family: 'bodoni', serif;
  color: #111;
  padding-top: 40px;
  padding-bottom: 70px;
}
h1 {
  font-size: 9em;
  font-weight: 500;
  letter-spacing: 10px;
}

h2 {
  font-size: 5em;
  font-weight:400;
  -webkit-animation: fadein 5s;
}

h2.subtitle {
  letter-spacing: 10px;
}

h3{
  font-size: 2em;
}
.title {
  margin-top: 150px;
  margin-bottom: 200px;
}
blockquote.description {
  font-size: 1.5em;
  margin-bottom: 250px;
  text-align: left;

}

a {
  color: black;
}
ul.nav li {
  font-size: 20px;
}
hr {
  /*margin-right:300px;
  margin-left: 300px;*/
  width: 150px;
  height: 5px;
  background-color:black;
  margin-top: 50px;
  margin-bottom:  50px;

}
div.project img{
  width: 100%;
}

div.project {
  background-color: #EEE;
  border-radius: 5px;
  width: 50%;
  box-shadow: 0 0 50px rgba(0,0,0,0.8);
  opacity: 0.95;
}
section {
  height: 800px;  
    margin: 0 auto;
    margin-bottom: 100px; 
    width: 100%; 
    position: relative; 
    box-shadow: 0 0 50px rgba(0,0,0,0.8);
    background-repeat: no-repeat;
}

#designer-data {
  background: url(images/designer_data.png) 50% 0 fixed;
  -webkit-background-size: contain;
  -moz-background-size: contain;    
  -o-background-size: contain;
  background-size: contain;
  padding: 100px 0;
}

#wanderlust {
  background: url(images/wanderlust.png) 50% 0 fixed;
  -webkit-background-size: contain;
  -moz-background-size: contain;    
  -o-background-size: contain;
  background-size: contain;
  padding: 200px 0;
}

#where2eat {
  background: url(images/eat.png) 50% 0 fixed;
  -webkit-background-size: contain;
  -moz-background-size: contain;    
  -o-background-size: contain;
  background-size: contain;
  padding: 100px 0;
}
#hangman {
  background: url(images/hangman.png) 50% 0 fixed;
  -webkit-background-size: contain;
  -moz-background-size: contain;    
  -o-background-size: contain;
  background-size: contain;
  padding: 100px 0;
}


@media (max-width: 40em){
 h1{
  font-size: 3em;
  }
 h2{
  font-size: 1.5em;
 }
 .title {
  margin-top: 100px;
  margin-bottom: 75px;
}
p.description {
  font-size: 1em;
  margin-bottom: 50px;

}
}
 
@media (min-width: 41em) and (max-width: 50em){
  h1{
    font-size: 5em;
  }
}