@charset "utf-8";
@font-face {
  font-family: 'bodoni';
  src: url('BodoniXT.ttf') format('truetype');
}

a:hover{
  text-decoration: none;
}
body {
  text-align: center;
  font-family: 'bodoni', serif;
  color: #111;
  padding-top: 40px;
  padding-bottom: 70px;
}
h1 {
  font-size: 9em;
  font-weight: 500;
  cursor: pointer;
  letter-spacing: 10px;
}
h1:hover {
  color: #AAA;

}
h2 {
  font-size: 4em;
  cursor: pointer;
  font-weight:400;
  -webkit-animation: fadein 5s;
}
@-webkit-keyframes fadein {
  from { opacity: 0;}
  to {opacity: 1;}
}
h2.subtitle {
  letter-spacing: 10px;
}
h2:hover {
  color: #DDD;
}
.title {
  margin-top: 150px;
  margin-bottom: 200px;
}
p.description {
  font-size: 2em;
  margin-bottom: 250px;

}

a {
  color: black;
}
ul.nav li {
  font-size: 20px;
}
hr {
  /*margin-right:300px;
  margin-left: 300px;*/
  width: 150px;
  height: 5px;
  background-color:black;
  margin-top: 50px;
  margin-bottom:  50px;

}
div.project img{
  width: 100%;
}

@media (max-width: 40em){
 h1{
  font-size: 3em;
  }
 h2{
  font-size: 1.5em;
 }
 .title {
  margin-top: 100px;
  margin-bottom: 75px;
}
p.description {
  font-size: 1em;
  margin-bottom: 50px;

}
}
 
@media (min-width: 41em) and (max-width: 50em){
  h1{
    font-size: 5em;
  }
}